name: Java CI with Gradle

on:
  push:
    branches: [ "master" ]
    paths: ["src/**"]

  pull_request:
    branches: [ "master", "210"]
    paths: ["src/**"]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'

    - name: Setup Gradle
      uses: gradle/gradle-build-action@v3

    - name: Cache IntelliJ sandbox
      uses: actions/cache@v3
      with:
        path: ~/.cache/JetBrains
        key: sandbox-${{ runner.os }}-${{ hashFiles('build.gradle*') }}
        restore-keys: |
          sandbox-${{ runner.os }}-

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build with Gradle
      run: ./gradlew :buildPlugin
